<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-app-bar
      app
      color="white"
      height="100"
      >
        <v-avatar
        class="mr-3"
        color="grey lighten-5"
        size="70"
        >
        <v-img
          contain
          height="120%"
          src="https://logan-ruf.s3-us-west-2.amazonaws.com/static/DFA231A5-B99F-4E79-BA5E-6503C832A7FE_1_201_a.png"
        ></v-img>
      </v-avatar>
      <v-toolbar-title class="font-weight-black headline">
        Logan Ruf
      </v-toolbar-title>
    </v-app-bar>
    <v-content>
      <section id="hero">
        <v-row no-gutters>
          <v-img
            :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'"
            src="https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80"
          >
            <v-theme-provider dark>
              <v-container fill-height>
                <v-row
                  align="center"
                  class="white--text mx-auto"
                  justify="center"
                >
                  <v-col
                    class="white--text text-center"
                    cols="12"
                    tag="h1"
                  >
                    <span
                    :class="[$vuetify.breakpoint.smAndDown ? 'display-1' : 'display-2']"
                      class="font-weight-light"
                    >
                     CS STUDENT, PROGRAMMER, COMMUNITCATOR
                    </span>

                    <br>

                    <span
                      :class="[$vuetify.breakpoint.smAndDown ? 'display-3': 'display-4']"
                      class="font-weight-black"
                    >
                      LOGAN RUF
                    </span>

                  </v-col>

                  <v-btn
                    class="align-self-end"
                    fab
                    outlined
                    @click="$vuetify.goTo('#about-me')"
                  >
                    <v-icon>mdi-chevron-double-down</v-icon>
                  </v-btn>
                </v-row>
              </v-container>
            </v-theme-provider>
          </v-img>
        </v-row>
      </section>

      <section id="about-me">
        <div class="py-12"></div>

        <v-container class="text-center">
          <h2 class="display-2 font-weight-bold mb-3">ABOUT ME</h2>

          <v-responsive
            class="mx-auto mb-8"
            width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-responsive
            class="mx-auto title font-weight-light mb-8"
            max-width="720"
          >
            I am a programmer, salesman, student, but not a writer. So give me a break here haha! I am an ambitious worker
            with mental agility and problem solving skills to match. Been a local to CDA all my life. I enjoy the outdoors,
            hanging out with friends, and learning new things. Fun Fact: I was president of Student Body senior year of highschool.
          </v-responsive>

          <v-avatar
            class="elevation-12 mb-12"
            size="128"
          >
            <v-img src="https://logan-ruf.s3-us-west-2.amazonaws.com/static/DFA231A5-B99F-4E79-BA5E-6503C832A7FE_1_201_a.png"></v-img>
          </v-avatar>

          <div></div>

          <v-btn
            color="grey"
            href="https://logan-ruf.s3-us-west-2.amazonaws.com/static/Christopher_Logan_Ruf_Resume.pdf"
            target="_blank"
            outlined
            large
          >
            <span class="grey--text text--darken-1 font-weight-bold">
              PDF RESUME
            </span>
          </v-btn>
        </v-container>

        <div class="py-12"></div>
      </section>
      <section id="features" class="grey lighten-3">
        <div class="py-12">
          <v-container>
            <v-container class="text-center">
            <h2 class="display-2 font-weight-bold mb-3">CERTIFICATIONS</h2>

            <v-responsive
              class="mx-auto mb-8"
              width="56"
            >
              <v-divider class="mb-1"></v-divider>

              <v-divider></v-divider>
            </v-responsive>
            <v-row>
              <v-col
                cols="12"
                md="7"
              >
                <v-card
                class="py-2 px-2"
                color="grey lighten-5"
                >
                  <v-card-title>
                  <v-img
                    class="white--text align-middle"
                    src="https://logan-ruf.s3-us-west-2.amazonaws.com/static/AWS-Icon.jpeg"
                    max-width = "100%"
                  ></v-img>
                    <p>AWS Cloud</p>
                    <p>Practitioner</p>
                  </v-card-title>
                      <v-card-text>
                        <div>
                          The AWS Certified Cloud Practitioner examination is intended for individuals who have the knowledge
                        and skills necessary to effectively demonstrate an overall understanding of the AWS Cloud, independent
                        of specific technical roles addressed by other AWS Certifications. The exam can be taken at a testing
                        center or from the comfort and convenience of a home or office location as an online proctored exam.
                        </div>
                      </v-card-text>
                  <v-card-subtitle>Certification ID: SSZD9EC2P1QQQ1C0</v-card-subtitle>
                  <v-card-actions>
                    <v-btn
                            href="https://aw.certmetrics.com/amazon/public/verification.aspx"
                            target="_blank"
                            color="orange"
                            text
                    >
                      AWS Certification Verification
                    </v-btn>
                  </v-card-actions>
              </v-card>
              </v-col>
              <v-col
                cols="12"
                sm="6"
                md="5"
              >
                <v-card>
                  <v-img src="https://logan-ruf.s3-us-west-2.amazonaws.com/static/CompTIA-logo.jpg"
                    max-width = "100%"
                    class = "align-middle"
                  >
                  </v-img>
                  <v-card-title>Comptia A+</v-card-title>
                  <v-card-text>
                    <div>
                      CompTIA A+ certified professionals are proven problem solvers. They support today’s core technologies from security to cloud to data management and more. CompTIA A+ is the industry standard for launching IT careers into today’s digital world.
                    </div>
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col
                cols="12"
                sm="6"
                md="5"
              >
                <v-card>
                  <v-img src="https://logan-ruf.s3-us-west-2.amazonaws.com/static/CompTIA-logo.jpg"
                    max-width = "100%"
                    class = "align-middle"
                  >
                  </v-img>
                  <v-card-title>Comptia A+</v-card-title>
                  <v-card-text>
                    <div>
                      CompTIA A+ certified professionals are proven problem solvers. They support today’s core technologies from security to cloud to data management and more. CompTIA A+ is the industry standard for launching IT careers into today’s digital world.
                    </div>
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col
              cols="12"
              md="7"
              >
                <v-card
                class="py-2 px-2"
                color="grey lighten-5"
                >
                  <v-card-title>
                  <v-img
                    class="white--text align-middle"
                    src="https://logan-ruf.s3-us-west-2.amazonaws.com/static/AWS-Icon.jpeg"

                  ></v-img>
                    <p>AWS Cloud</p>
                    <p>Practitioner</p>
                  </v-card-title>
                      <v-card-text>
                        <div>
                          The AWS Certified Cloud Practitioner examination is intended for individuals who have the knowledge
                        and skills necessary to effectively demonstrate an overall understanding of the AWS Cloud, independent
                        of specific technical roles addressed by other AWS Certifications. The exam can be taken at a testing
                        center or from the comfort and convenience of a home or office location as an online proctored exam.
                        </div>
                      </v-card-text>
                  <v-card-subtitle>Certification ID: SSZD9EC2P1QQQ1C0</v-card-subtitle>
                  <v-card-actions>
                    <v-btn
                            href="https://aw.certmetrics.com/amazon/public/verification.aspx"
                            target="_blank"
                            color="orange"
                            text
                    >
                      AWS Certification Verification
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </section>
      </v-container>
      </section>

      <v-sheet
        id="contact"
        color="#333333"
        dark
        tag="section"
        tile
      >
        <div class="py-12"></div>

        <v-container>
          <h2 class="display-2 font-weight-bold mb-3 text-uppercase text-center">Contact Me</h2>

          <v-responsive
            class="mx-auto mb-12"
            width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-theme-provider light>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  flat
                  label="Name*"
                  solo
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  flat
                  label="Email*"
                  solo
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-text-field
                  flat
                  label="Subject*"
                  solo
                ></v-text-field>
              </v-col>

              <v-col cols="12">
                <v-textarea
                  flat
                  label="Message*"
                  solo
                ></v-textarea>
              </v-col>

              <v-col
                class="mx-auto"
                cols="auto"
              >
                <v-btn
                  color="accent"
                  x-large
                >
                  Submit
                </v-btn>
              </v-col>
            </v-row>
          </v-theme-provider>
        </v-container>

        <div class="py-12"></div>
      </v-sheet>
    </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
    })
  </script>
</body>
</html>